:root {
  --primary: #19191A;
  --secondary: #3896a8;
  --gray: #373739;
  --light-blue: #9AE5F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: white;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.hidden {
  display: none;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-block: 20px;
}

.header li {
  list-style: none;
  color: var(--secondary);
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  overflow: hidden; /* Para esconder a borda que se expande */
}

.header li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  transform: scaleX(0); /* Inicialmente, escondemos a borda */
  transition: transform 0.3s ease; /* Adicionamos uma transição na transformação */
}

.header li:hover::after {
  transform: scaleX(1); /* Ao passar o mouse, expandimos a borda */
}

li.active::after {
 transform: scaleX(1);
}
/* About me section */

#about-me, #formation, #projects, #contact{
  background-color: var(--gray);
  margin-inline: 400px;
  padding: 20px 30px 10px;
  border-radius: 10px;
  color: var(--light-blue);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.about-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-container span {
  font-size: 20px;
  margin-bottom: 40px;
}

.about-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style: none;
}


.about-container ul li a img {
  width: 100px;
  transition: transform 0.8s;
}

.about-container ul li a img:hover {
  transform: scale(1.5);
}

/* Formation section */
.formation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 250px;
}

.formation-container h2 {
  font-size: 40px;
  margin-block: 20px;
}

.formation-container p {
  font-size: 20px;
}

/* projects section */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects-container span {
  margin-bottom: 60px;
}

.projects-container h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.projects-container h3 {
  font-size: 25px;
  margin-bottom: 5px;
}

.projects-container p {
  font-size: 20px;
  margin-bottom: 5px;
}

.projects-container a {
  font-size: 15px;
}















/* contact section */
.contact-container h2 {
  font-size: 50px;
  margin-block: 30px;
  align-self: center;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container form label{
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-container form input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #48484bc7;
  color: var(--light-blue);
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-container form textarea {
  width: 600px;
  background-color: #48484bc7;
  border: none;
  resize: none;
  font-size: 20px;
  color: var(--light-blue);
  border-radius: 5px;

}

.contact-container form button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #000;
  background-color: var(--secondary);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}